.deal_button {
    border: none;
    background: linear-gradient(81deg, rgba(18,172,254,1) 0%, rgba(25,128,255,1) 100%);
    padding: 9px;
    width: 66%;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}